@font-face {
    font-family: 'djgross-webfont';
    src: url('../fonts/djgross-webfont.eot');
    src: url('../fonts/djgross-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/djgross-webfont.woff2') format('woff2'), url('../fonts/djgross-webfont.woff') format('woff'), url('../fonts/djgross-webfont.ttf') format('truetype'), url('../fonts/djgross-webfont.svg#astonishedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'architectsdaughter';
    src: url('../fonts/architectsdaughter-webfont.eot');
    src: url('../fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/architectsdaughter-webfont.woff2') format('woff2'), url('../fonts/architectsdaughter-webfont.woff') format('woff'), url('../fonts/architectsdaughter-webfont.ttf') format('truetype'), url('../fonts/architectsdaughter-webfont.svg#architectsdaughter') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gongnormal';
    src: url('../fonts/gongn___-webfont.eot');
    src: url('../fonts/gongn___-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gongn___-webfont.woff2') format('woff2'), url('../fonts/gongn___-webfont.woff') format('woff'), url('../fonts/gongn___-webfont.ttf') format('truetype'), url('../fonts/gongn___-webfont.svg#gongnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ng-scope {
    background-color: transparent;
}

.background {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    background-color: #19020a;
    z-index: 0;
}

.navbar {
    margin-bottom: 0 !important;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    border-color: black;
    border-radius: 0;
    background-image: url(../images/navbar-background.jpg);
    z-index: 2;
}

.btn {
    font-family: gongnormal;
    border-radius: 0;
}

input {
    border-radius: 0px !important;
    font-family: architectsdaughter;
    font-weight: 900;
}

.navbar-main .btn-primary {
    margin-right: 4px;
}

.navbar-checkout .btn-primary {
    margin-right: 4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
    color: white;
}

.navbar-brand {
    color: white !important;
    font-family: djgross-webfont;
    font-size: 35px;
}

@media all and (max-width:765px) {

    .btn {
        width: 100%;
    }
}

.intro {
    position: absolute;
    top: 45%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: gongnormal;
    font-size: 28px;
    text-align: center;
    z-index: 1;
}

.search-results {
    position: relative;
    width: 100%;
    background-color: #19020a !important;
    z-index: 2;
}

.alert {
    font-family: gongnormal;
    border-radius: 0;
    text-align: center;
    background-color: rgba(215, 44, 44, 0.4);
    margin-bottom: 0;
    color: white;
}

.img-container {
    margin-left: 20px;
    margin-right: 20px;
}

    .img-container:before,
    .img-container:after {
        content: "";
        display: table;
    }

    .img-container:after {
        clear: both;
    }

.image {
    float: left;
    margin-bottom: 20px;
    background-color: rgb(235,239,234);
    border: 5px solid rgb(235,239,234);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

    .image img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: bottom;
    }

    .image:hover {
        border: 5px solid #337ab7;
    }

.first-item {
    clear: both;
}
/* remove margin bottom on last row */
.last-row, .last-row ~ .item {
    margin-bottom: 0;
}

.text-center li, .text-center a, .text-center ul {
    background-color: black !important;
    border: none;
    font-family: gongnormal;
    color: white !important;
}

.modal-content {
    color: white;
    font-family: architectsdaughter;
    font-weight: 900;
    background-color: #1f2c35;
    border-radius: 0;
    font-size: 20px;
}

.modal-body {
    text-align: center;
}

    .modal-body img {
        max-height: 90%;
        max-width: 90%;
        background-color: white;
        margin-bottom: 20px;
    }

.modal-header, .modal-footer {
    border: none;
}

    .modal-header h3 {
        font-family: gongnormal;
        font-size: 28px;
        font-weight: 900;
    }

    .modal-footer .btn {
        margin-left: 0 !important;
        margin-top: 18px;
    }

.cart {
    z-index: 1;
    position: relative;
    background-color: #19020a;
    padding-top: 20px;
    padding-bottom: 20px;
}

.remove-image {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    outline: 5px solid red;
}

.description {
    position: relative;
    margin: 20px;
    font-family: gongnormal;
    color: white;
    margin-top: 0px;
}

.description.description-main {
    color: black;
    margin: 20px;
    word-spacing: 8px;
}

.description.description-success {
    margin: 20px;
    z-index: 2;
}
