<nav class="navbar navbar-default navbar-checkout" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/checkout">Cart</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a href="#/checkout">
                <button class="btn btn-success navbar-btn navbar-right" type="button" ng-class="{disabled: cartItemsCount===0}">Checkout</button>
            </a>
            <a href="#/">
                <button class="btn btn-primary navbar-btn navbar-right" type="button">Main Page</button>
            </a>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="cart">
    <div class="description">Click image to remove or reinsert it or click checkout button to proceed</div>
    <div id="photos">
        <img src="images/loading.gif"
             ng-repeat="item in cartItems track by $index"
             ng-click="toggleItem(item); isActive = !isActive"
             ng-src="{{item.url}}"
             ng-class="{'remove-image': !isActive, 'remove-image': isActive}"
             ng-init="isActive = false">
        </img>
    </div>
</div>
<div class="background"></div>
